.query-results-split {
  height: 100vh;
  width: 100%;
}

.split {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.gutter {
  background-color: #f3f3f3;
  background-repeat: no-repeat;
  background-position: 50%;
  margin-right: 5px;
}

.gutter.gutter-horizontal {
  background-image: url('../images/gutter-handle-vertical.png');
  cursor: col-resize;
}
.gutter.gutter-vertical {
  background-image: url('../images/gutter-handle-horizontal.png');
  cursor: row-resize;
}
