.endpoint__container {
  margin: 1rem 0;
  position: absolute;
  z-index: 10;
}

.endpoint__label {
  font-weight: 500;
}

.endpoint__input {
  width: 30rem;
  padding: .3rem;
  margin: 0 .3rem;
  outline: none;
}

.endpoint__button {
  padding: .3rem;
}
