.field {
  position: relative;
  padding: 8px 16px;
  flex-grow: 1;
  text-align: center;
}

.field.active {
  background: rgb(54, 54, 61);
  background: #2f333fdd;
  background: #272e45b3;
  background: #283145ca;
}

.field-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
