.help-button__container {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  perspective: 1000px;
  position: absolute;
  right: 0.5rem;
  opacity: 1;
  transform: scale(1);
  transition: all 0.2s ease;
}

.help-button__container:hover .help-button {
  transform: rotateY(180deg);
}

.help-button {
  position: relative;
  width: 2rem;
  height: 2rem;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.help-button__container.github-hb {
  right: 47px;
}

.sideA,
.sideB {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 1px solid black;
  opacity: 0.8;
}

/* .sideA {
  background-color: whitesmoke;
  color: black;
  font-weight: 500;
  font-size: 1.5rem;
} */

.sideB {
  transform: rotateY(180deg);
  /* background-color: black; */
}
.help-hb .sideA,
.help-hb .sideB {
  background-color: whitesmoke;
  color: black;
  font-weight: 500;
  font-size: 1.5rem;
}

.icon {
  height: 100%;
  width: 100%;
}

.icon-github {
  fill: whitesmoke;
}
