body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #1e1e1e;
  height: 100vh;
}

#wrapper {
  display: flex;
  flex-direction: row;
  height: 97.7vh;
}

.pane {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

#left-pane .editor {
  height: 50%;
}

#right-pane .editor {
  height: 100%;
}