.type-node {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-size: 10pt;
  position: relative;
  min-width: 150px;
}

.type-node.active {
  border: 2px solid lightgreen;
}

.type-heading {
  padding: 8px 32px;
  flex-grow: 1;
  background-color: #eee;
  text-align: center;
}
