.visualizer-container {
  width: 100%;
  height: 100%;
}

.type-node__handle-target-left {
  background-color: transparent;
  top: 1rem;
  left: 0;
}

.type-node__handle-target-top {
  background-color: transparent;
}

.react-flow {
  background: #171721;
  background: #1f1f29;
  background: #1d1e25;
  background: #1d1e22;
  /* background: #24272f; */
  /* background: #1d1e28; */
}

.react-flow__attribution {
  background: #1d1e25;
}
.react-flow__attribution a {
  font-size: 5px;
  color: #3e3f46;
}
